/*
 *    Styles for display of permission nodes
 *    Author: Lucas Bubner, 2023
 */

/* Ah... CSS Element "Button"... You may not go any further... My... employers have grown quite fond of their... formatless buttons... */
.authorised button {
    transition: background-color 0.3s;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.authorised ul {
    list-style: none;
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 300px;
}

.authorised {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: max-content max-content max-content max-content;
    gap: 0 0;
    grid-template-areas:
        "title close"
        "users settings"
}

.settings {
    grid-area: settings;
    padding: 12px;
    width: 100%;
}

.close {
    grid-area: close;
    position: absolute;
    right: 0;
}

.closer {
    position: static;
}

.title {
    grid-area: title;
    padding: 12px;
}

.users {
    grid-area: users;
    padding: 12px;
    width: 100%;
}

.users ul {
    margin: 0;
    padding: 0;
}

.users li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users li button {
    transition: color 0.3s;
    padding: 8px;
    margin: 12px 0 12px 6px;
    color: rgb(177, 177, 177);
    border-radius: 4px;
}

.users li button:hover {
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
}

.users li span {
    margin-right: auto;
}

.del {
    color: red !important;
    background-color: #1f1f1f !important;
}

.del:hover {
    background-color: #0f0f0f !important;
}

.new,
.sysmsg,
.thresh,
.cleardb {
    transition: background-color 0.4s;
    background-color: rgb(15, 71, 27) !important;
    padding: 12px !important;
    border-radius: 12px;
    width: 66%;
    transform: translateX(25%);
}

.thresh {
    margin-top: 12px;
    background-color: rgb(0, 87, 109) !important;
}

.thresh:hover {
    background-color: rgb(0, 122, 153) !important;
}

.new:hover {
    background-color: rgb(28, 126, 49) !important;
}

.cleardb {
    background-color: rgb(73, 0, 0) !important;
    margin-top: 12px;
}

.sysmsg {
    margin-top: 12px;
    background-color: rgb(58, 58, 58) !important;
}

.sysmsg:hover {
    cursor: pointer;
    background-color: rgb(102, 102, 102) !important;
}

.cleardb:hover {
    cursor: pointer;
    background-color: rgb(163, 0, 0) !important;
}

.portalreference {
    font-size: 10px;
    font-style: italic;
}

@media only screen and (max-width: 1200px) {
    .portalreference {
        display: none;
    }
    .authorised {
        grid-template-columns: auto;
        grid-template-rows: max-content max-content max-content max-content max-content;
        gap: 0 0;
        grid-template-areas:
            "title"
            "users"
            "settings";
    }
}
