/*
 *    CSS styles for the general chat application, including any global styles
 *    or any styles that are specific to this scope of the application.
 */

body {
    scrollbar-width: auto;
    scrollbar-color: rgb(0, 90, 31) #2c3032;
}

hr {
    border-top: 1px solid #fff;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: #2c3032;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 90, 31);
    border-radius: 8px;
    border: 3px solid #2c3032;
}

ul::-webkit-scrollbar {
    width: 11px;
}

ul::-webkit-scrollbar-thumb {
    background-color: rgb(0, 90, 31);
    border-radius: 8px;
    border: 3px solid #2c3032;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #2c3032;
    border-radius: 12px;
    width: 8px;
}

/* Specific styles for disconnect info */
.conn::after {
    animation: dots 1s infinite;
    content: "";
}

#loadingimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite linear;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.offline,
.disc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.disc {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    transform: translate(-50%, 75px) !important;
}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}
