/*
 *    General styles for individual elements that are specific to the chat, such as the Load More button.
 *    Author: Lucas Bubner, 2023
 */

.chat {
    display: grid;
    grid-template-columns: 22% 70%;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "menu messages";
}

.menu {
    grid-area: menu;
    position: fixed;
    background: linear-gradient(135deg, rgba(5, 33, 0, 1) 0%, rgba(0, 80, 6, 1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    height: calc(100% - 132px);
    border-radius: 12px;
    width: 20%;
    top: 120px;
    left: 15px;
    z-index: 1;
    overflow: auto;
}

.menu::-webkit-scrollbar {
    width: 10px;
}

.menu::-webkit-scrollbar-track {
    background-color: #00330f;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #025a02;
    border-radius: 5px;
    height: 50px;
}

@media screen and (max-width: 950px) {
    .menu {
        display: none;
    }
    .chat {
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: "messages";
    }
    .msginput {
        width: calc(100vw - 28px);
    }
    .filterbutton {
        display: none;
    }
    .message {
        width: 100%;
    }
}

.messages {
    grid-area: messages;
    position: relative;
}

.moreitems {
    transition: 0.3s;
    color: inherit;
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-left: 8px;
    margin-bottom: 10px;
    font: inherit;
    cursor: pointer;
    outline: none !important;
    width: 110%;
    background: #272a2c none;
    overflow: hidden;
}

.moreitems:hover {
    background-color: #242424;
}

.moreitems::after {
    content: "Load more";
}

.moreitems:active::after {
    content: "Loading...";
    font-weight: 600;
}

.top {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    width: 111%;
}

@media screen and (max-width: 950px) {
    .top {
        width: 95vw;
    }
    .moreitems {
        width: 95vw;
    }
}
